@font-face {
    font-family: 'W95FA'; /* Choose a name for your font family */
    src: url('W95FA/w95fa.woff2') format('woff2'),
         url('W95FA/w95fa.woff') format('woff'),
         url('W95FA/W95FA.otf') format('opentype');
    /* Add more src lines if you have additional font file formats */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-family: 'W95FA', sans-serif;
    background-color: #008080; /* Windows 95 background color */
  }

  .outer-border {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  .outer-border-button:hover {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  .inner-border {
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
  }
  .inner-border-button:hover {
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
  }
  
  .window {
    max-width: 600px;
    margin: 50px auto;
    background-color: #c0c0c0; /* Window background color */
    border-top: solid #DFDFDF;
    border-left: solid #DFDFDF;
    border-width: 1px;
  }

  .window > .inner-border {
    border-top: solid #fff;
    border-left: solid #fff;
    border-right: solid #808080;
    border-bottom: solid #808080;
    border-width: 1px;
  }
  
  .window-title-bar {
    background-color: #000080; /* Title bar background color */
    background-color: #53325B;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin: 2px;
  }
  
  .window-title {
    font-weight: bold;
    padding-left: 8px;
  }

  .window-menu-bar {
    background-color: #c0c0c0;
    display: flex;
    padding: 2px 0;
    border-bottom: 1px solid #808080;
  }
  
  .menu {
    padding: 2px 8px;
    cursor: pointer;
    color: #000;
  }
  
  .menu:hover {
    background-color: #949494;
  }
  
  .window-controls {
    display: flex;
  }
  
  .window-control {
    width: 15px;
    height: 15px;
    margin: 0;
    /* border: 1px solid #fff; */
    background-color: #c0c0c0;
    /* border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    color: #000;
  }

    /* .window-control:hover {
        background-color: #949494;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    } */

    .window-logo {
        height: 15px;
    }

    .logo-title {
        display: inline-flex;
        align-items: center;
    }

    .close-button {
        margin-left: 2px;
    }
  
  .window-content {
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
    height: 250px;
    gap: 2px;
  }
  
  .inbox {
    border-left: #808080 solid;
    border-bottom: white solid;
    border-right: white solid;
    border-width: 1px;
    padding: 0;
    /* margin-bottom: 10px; */
    background-color: #fff;
    width: 30%;
    position: relative;
  }

  .inbox-insert {
    border-top: black solid;
    border-left: black solid;
    border-bottom: #C0C0C0 solid;
    border-width: 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .inbox-item {
    margin: 2px 5px;
    font-size: 12px;
    padding: 2px;
    border: 1px white solid;
  }

    .inbox-item:hover {
        border: 1px dotted black;
        /* background-color: #C0C0C0; */
    }
  
  .inbox-item-from {
    font-weight: bold;
  }

  .email-content {
    border-left: #808080 solid;
    border-bottom: white solid;
    border-right: white solid;
    border-width: 1px;
    padding: 0;
    background-color: #fff;
    width: calc(70% - 2px);
    position: relative;
  }

  .email-content-insert {
    border-top: black solid;
    border-left: black solid;
    border-bottom: #C0C0C0 solid;
    border-width: 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .window-footer {
    display: flex;
    justify-content: flex-start;
    margin: 2px;
    border-top: solid #808080;
    border-left: solid #808080;
    border-right: solid #FFFFFF;
    border-bottom: solid #FFFFFF;
    border-width: 1px;
    font-size: 12px;
  }

  .window-toolbar {
    display: inline-flex;
    padding: 2px;
  }

  .toolbar-section {
    display: inline-flex;
    margin-left: 10px;
  }

  .toolbar-image {
    image-rendering: pixelated;
    height: 70%;
  }
  
  .toolbar-button {
    width: 25px;
    height: 25px;
    margin: 0;
    /* border: 1px solid #fff; */
    background-color: #c0c0c0;
    /* border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    color: #000;
  }
  
  .button:hover {
    background-color: #006666;
  }
  
  /* Some basic styling for demonstration */
  .scrollbox {
    overflow: auto; /* Enable scrollbar */
  }

  /* Style the scrollbar */
  .scrollbox::-webkit-scrollbar {
    width: 16px; /* Set scrollbar width */
    height: 16px; /* Set scrollbar height */
    border-bottom: solid black;
    border-right: solid black;
    border-width: 1px;
    padding: 1px;
  }

  /* Track */
  .scrollbox::-webkit-scrollbar-track {
    background-color: #e7e7e7; /* Light gray */
    border-bottom: solid black;
    border-right: solid black;
    border-width: 1px;

  }

  /* Handle */
  .scrollbox::-webkit-scrollbar-thumb {
    background-color: #C0C0C0; /* Dark gray */
    border-bottom: solid #808080; /* Light gray border */
    border-right: solid #808080; /* Light gray border */
    border-top: solid white;
    border-left: solid white;
    border-width: 1px;
    border-radius: 0;
    margin: 2px;
  }

  .scrollbox::-webkit-scrollbar-button {
    background-color: #C0C0C0;
    border-bottom: solid #808080;
    border-right: solid #808080;
    border-left: solid white;
    border-top: solid white;
    border-width: 1px;
    width: 16px;
    height: 16px;
    background-size: 6px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
  }

  .scrollbox::-webkit-scrollbar-button:active,.inbox-insert::-webkit-scrollbar-thumb:active {
    border-top: solid #808080;
    border-left: solid #808080;
    border-right: solid white;
    border-bottom: solid white;
    border-width: 1px;
  }

  .scrollbox::-webkit-scrollbar-button:horizontal:increment {
    background-image: url('right.png');
  }
  .scrollbox::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url('left.png');
  }
  .scrollbox::-webkit-scrollbar-button:vertical {
    background-size: 11px;
  }
  .scrollbox::-webkit-scrollbar-button:vertical:increment {
    background-image: url('down.png');
  }
  .scrollbox::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('up.png');
  }