#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .custom-element {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border: 1px solid #000;
  }
  